.blue_line {
    background-color: $color_primary;
    display: block;
    height: 100px;
}

.comic_image {
    display: inline-flex;
    top: -20rem;
    position: absolute;
    border: 1px solid $color_secondary;

    span {
        text-align: center;
        position: absolute;
        background-color: $comic_text;
        text-transform: uppercase;

        a {
            color: $color_secondary;
            vertical-align: middle;
        }

    }

    span:first-child {
        padding: 0 1rem;
    }

    span:last-child {
        width: 100%;
        bottom: 0;
    }

}

h5 {
    text-transform: uppercase;
    text-align: end;
    color: $primary_text;
}

.comic_desc {
    padding-top: 6rem;

    h2 {
        color: $primary_text;
        text-transform: uppercase;
        font-size: 2rem;
    }

    .desc {
        display: flex;
        justify-content: space-between;

        section {
            width: 65%;
        }

        p {
            color: $primary_text;
            margin-top: 1rem;
        }

    }

    .buy {
        display: flex;
        justify-content: space-between;
        // width: 80%;
        background-color: $bg_green;
        padding: 0.7rem;
        border-bottom: 1px solid #357739;

        h4 {
            color: $txt_green;

            span {
                color: $color_secondary;
            }
        }

        h4:last-child {
            text-transform: uppercase;
            font-weight: 600;
        }
    }

}
