#site_main {
    background-color: $color_primary;
    color: white;

    .main_text {
        background-color: $color_primary;
        position: absolute;
        top: -1.8rem;
        left: 0;
        color: $color_secondary;
        font-size: 1.5rem;
        padding: 0.6rem 1rem;
        text-transform: uppercase;
    }

}
